@import "tailwindcss";

@font-face {
  font-family: "Lora";
  src: url(/Fonts/Lora-Medium.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: url(/Fonts/Lora-MediumItalic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Lora";
  src: url(/Fonts/Lora-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-lora: "Lora"
}

@utility cool-button {
  background-color: rgb(230, 200, 0);
  color: black;
  width: 200px;
  border-radius: 10px;
  font-family: "Lora";
  font-size: 24px;
  padding: 5px 10px;
  cursor: pointer;
}

@utility unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none;
}